@font-face {
  font-family: myFirstFont;
  src: url(Frisky\ Puppy.woff);
}
:root{
  background-color: rgb(20, 86, 20);

}
*{
  font-family: myFirstFont;
  
}
.hscore{
  background-image: url('TITLE.png');
}
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
  font-weight: 50;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  font-weight: 50;
}

.high-score:hover {
  transform: scale(1.025);
  font-weight: 50;
}
