@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root{
  background-color: rgb(20, 86, 20,0);

}
*{
  font-family:'Varela Round', sans-serif;
  
}
.scrollable-content{
  display:block;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 90vh;
  padding-top: 10px;
  padding-left: 40px;
}
.scrollable-content::-webkit-scrollbar { width: 0 !important }

.hscore{
  overflow: hidden;
  padding-top: 3%;
  background-image: url('TITLE.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#finalScore{
  margin-top: 10px;
}
#highScoresList {
  list-style: none;
  padding-left: 0;
  margin-bottom: 4rem;
  font-weight: 50;
  color: aliceblue;
  font-size: 2rem;
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  font-weight: 50;
}

.high-score:hover {
  transform: scale(1.025);
  font-weight: 50;
}

h1 {
  font-size: 4.4rem;
  color: #20bf36;
  margin-bottom: 5rem;
  font-weight: 10;
  text-align: left;
  margin-top: 100px;
  border: 0.5rem solid #164a22;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.container {
  display: flex;
  justify-content: left;
  align-items: left;
  max-width: 80rem;
  padding: 2rem;
  margin-left: 30px;

}

.btn {
  font-size: 3.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.5rem solid #164a22;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #1fb629;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  font-weight: 50;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 235, 96, 0.5);
  transform: translateY(-1.5rem);
  transition: transform 300ms;
  transform: scale(1.1);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
