@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

  .scrollable-content::-webkit-scrollbar { width: 0 !important }
body {
    font-family:'Varela Round', sans-serif;

    
    background-image: url('BG.png');
    background-size: 100%;
    margin: 100px 0px 0px 0px;
    padding: 0;
    overflow: hidden; /* Hide the default body overflow */
    color:rgb(255, 255, 255);
    height: 100vh;
  }
  
  .scrollable-content {
    width: 100%;
    height: 80vh; /* Set the height of the scrollable content */
    overflow-y: scroll; /* Enable vertical scrolling */
    display: flex;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
  }

  .column {
    width: 45%; /* Adjust the width of columns as needed */
    border: 1px solid #cccccc00;
    margin-left: 100px;
    margin-right: 75px;
    border-radius: 5px;
    background-color: #f9f9f900;
    
  }

  h2 {
    margin-top: 0;
    font-size: 100px;
    font-weight: 20;
  }

  ul {
    list-style-type: decimal;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 20;
  }

  
  /* BUTTONS */
.btn {
    font-size: 3.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.5rem solid #164a22;
    text-decoration: none;
    color: #1a7120;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    font-weight: 50;
    margin-left: 100px;
    
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 235, 96, 0.5);
    transform: translateY(-1.5rem);
    transition: transform 300ms;
    transform: scale(1.1);
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }